<button ng-click="$ctrl.createProperty()">Create</button>
<button ng-click="$ctrl.editProperty()" ng-disabled="!$ctrl.currentRow">Edit</button>
<button ng-click="$ctrl.deleteProperty()" ng-disabled="!$ctrl.currentRow">Delete</button>

<the-form legend="{{$ctrl.currentRow.entity.number || 'Test'}}" form-id="editPropertyForm">
 <label for="pNumber">Number:</label>
 <input id="pNumber" type="text" name="pNumber" ng-model="$ctrl.currentRow.entity.number">

 <label for="pMakeAndModel">Make and Model:</label>
 <input id="pMakeAndModel" name="pMakeAndModel" type="text" ng-model="$ctrl.currentRow.entity.makeAndModel">

 <label for="pCost">Cost:</label>
 <input id="pCost" type="number" name="pCost" min="0" ng-model="$ctrl.currentRow.entity.cost">

 <label for="pPresentValue">Present Value:</label>
 <input id="pPresentValue" type="number" name="pPresentValue" min="0" ng-model="$ctrl.currentRow.entity.presentValue">

 <label for="pPurchaseDate">Purchase Date:</label>
 <input id="pPurchaseDate" type="date" name="pPurchaseDate" ng-model="$ctrl.currentRow.entity.purchaseDate" date-transformer>

 <label for="pAgeLimit">Age Limit:</label>
 <input id="pAgeLimit" type="number" name="pAgeLimit" min="0" max="99" ng-model="$ctrl.currentRow.entity.ageLimit">

 <label for="pCustodian">Custodian:</label>
 <input id="pCustodian" type="text" name="pCustodian" ng-model="$ctrl.currentRow.entity.custodian">

 <label for="pUser">User:</label>
 <input id="pUser" type="text" name="pUser" ng-model="$ctrl.currentRow.entity.user">

 <label for="pLocation">Location:</label>
 <input id="pLocation" type="text" name="pLocation" ng-model="$ctrl.currentRow.entity.location">
 
 <label for="pPlacement">Placement:</label>
 <input id="pPlacement" type="text" name="pPlacement" ng-model="$ctrl.currentRow.entity.placement">
</the-form>

<div>
  <property-builder ng-show="$ctrl.isBuilderDisplay" on-close="$ctrl.closeCreatingPanel()"></property-builder>
  <hr>
  <div class="property-list" 
       ui-grid="$ctrl.uiGridOptions" 
       ui-grid-selection
  ></div>
</div>
