<div id="propertyDashboard" class="dashboard">
  <div id="propertyToolbar" class="pd-toolbar">
    <button ng-click="dashboardVM.createProperty()">Create</button>
    <button ng-click="dashboardVM.editProperty()" ng-disabled="!dashboardVM.selectedProp">Edit</button>
    <button ng-click="dashboardVM.deleteProperty()" ng-disabled="!dashboardVM.selectedProp">Delete</button>
    <button ng-click="dashboardVM.getProperties()">Refresh</button>
  </div>
  <hr>
  <div class="pd-content">
    <div id="propertyList" ui-grid="dashboardVM.uiGridOptions" ui-grid-selection ui-grid-auto-resize></div>
  </div>
  <property-waiter property="dashboardVM.selectedProp" is-leaving="dashboardVM.okThankYou()" ng-show="dashboardVM.callTheWaiter"></property-waiter>
</div>