.managerForm {
  max-width: 800px;
  min-width: 600px;
}

.mono-cols {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
}

.submit-button, .cancel-button, .edit-button, .close-button {
  float: right;
  margin-left: 5px;
}