.builder-form {
  display: inline-block;
}

.builder-form .close {
  font-size: 30px;
}

.builder-form .close:hover {
  font-weight: bold;
  background-color: #d9ddec;
  cursor: pointer;
}

.builder-form fieldset {
  position: relative;
  padding: 22px;
}

.builder-form fieldset .monospace-columns{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.builder-form legend {
  font-size: large;
}

.builder-form .builder-form-submit {
  width: 100%;
  border: none;
  border-bottom: 1px solid;
  font-size: 16px;
  background: none;
}

.builder-form .builder-form-submit:hover {
  background-color: #d9ddec;
  cursor: pointer;
}

#propertyBuilderFormCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}