<form novalidate id="propertyBuilderForm" class="builder-form">
  <fieldset>
    <legend>Create a new property</legend>
    
    <span id="propertyBuilderFormCloseBtn" class="close" ng-click="$ctrl.onClose()">&times;</span>
    <div class="monospace-columns">
      <label for="pNumber">Number:</label>
      <input id="pNumber" name="pNumber" type="text" ng-model="$ctrl.prop.number">

      <label for="pMakeAndModel">Make and Model:</label>
      <input id="pMakeAndModel" name="pMakeAndModel" type="text" ng-model="$ctrl.prop.makeAndModel">

      <label for="pCost">Cost:</label>
      <input id="pCost" type="number" name="pCost" min="0" ng-model="$ctrl.prop.cost">

      <label for="pPresentValue">Present Value:</label>
      <input id="pPresentValue" type="number" name="pPresentValue" min="0" ng-model="$ctrl.prop.presentValue">

      <label for="pPurchaseDate">Purchase Date:</label>
      <input id="pPurchaseDate" type="date" name="pPurchaseDate" max="{{$ctrl.maxPurchaseDate}}" ng-model="$ctrl.prop.purchaseDate">

      <label for="pAgeLimit">Age Limit:</label>
      <input id="pAgeLimit" type="number" name="pAgeLimit" min="0" max="99" ng-model="$ctrl.prop.ageLimit">

      <label for="pCustodian">Custodian:</label>
      <input id="pCustodian" type="text" name="pCustodian" ng-model="$ctrl.prop.custodian">

      <label for="pUser">User:</label>
      <input id="pUser" type="text" name="pUser" ng-model="$ctrl.prop.user">

      <label for="pLocation">Location:</label>
      <input id="pLocation" type="text" name="pLocation" ng-model="$ctrl.prop.location">

      <label for="pPlacement">Placement:</label>
      <input id="pPlacement" type="text" name="pPlacement" ng-model="$ctrl.prop.placement">
    </div>

    <input type="submit" value="Save" class="builder-form-submit" ng-click="$ctrl.create($ctrl.prop)">
  </fieldset>
</form>
