wh-navbar {
  max-width: 180px;
  flex-basis: 180px;
  flex-shrink: 10;
  padding-top: 10px;
  border-right: 1px solid #d8d8d8;
}

.__wh_mtd_panel {
  position: relative;
  background-color: #ffffff;
}

wh-navbar a {
  display: block;
  font-size: 25px;
}

.__wh_mtd_a {
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #868686;
}

.__wh_mtd_a:hover {
  color: #595959;
  background-color: #f4f4f4
}

.logout-link {
  position: absolute;
  left: 0;
  bottom: 10px;
  right: 0;
  text-align: center;
}

.logout-link:hover {
  text-decoration: underline;
}