html, body {
  margin: 0px;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

.content {
  position: relative;
  flex-grow: 10;
  flex-shrink: 1;
  padding-right: 30px;
  padding-left: 30px;
}