<div id="dashboard" class="dashboard">
  <div id="dashboardToolbar" class="pd-toolbar">
    <button ng-click="dashboardVM.createProperty()">Create</button>
    <button ng-click="dashboardVM.checkProperty()" ng-disabled="!dashboardVM.selectedProp">View</button>
    <button ng-click="dashboardVM.editProperty()" ng-disabled="!dashboardVM.selectedProp">Edit</button>
    <button ng-click="dashboardVM.deleteProperty()" ng-disabled="!dashboardVM.selectedProp">Delete</button>
    <button ng-click="dashboardVM.getProperties()">Refresh</button>
    <div class="lds-ripple" ng-show="dashboardVM.gettingProperties"><div></div><div></div></div>
  </div>
  <hr>
  <div class="pd-content">
    <div id="propertyList" 
         ui-grid="dashboardVM.uiGridOptions" 
         ui-grid-selection 
         ui-grid-auto-resize 
         ui-grid-resize-columns>
    </div>
  </div>
  <wh-manager 
    mode="dashboardVM.waiterMode" 
    property="dashboardVM.selectedProp" 
    on-cancel="dashboardVM.onCancel()" 
    on-done="dashboardVM.onDone()"
    ng-if="dashboardVM.callTheWaiter">
  </wh-manager>
</div>