<div id="dashboard" class="dashboard">
  <div id="dashboardToolbar" class="pd-toolbar">
    <button wh-button lg ol ng-click="dashboardVM.createProperty()">Create</button>
    <button wh-button lg ol ng-click="dashboardVM.checkProperty()" ng-disabled="!dashboardVM.selectedProp">View</button>
    <button wh-button lg ol ng-click="dashboardVM.editProperty()" ng-disabled="!dashboardVM.selectedProp">Edit</button>
    <button wh-button lg ol ng-click="dashboardVM.deleteProperty()" ng-disabled="!dashboardVM.selectedProp">Delete</button>
    <button wh-button lg ol ng-click="dashboardVM.getProperties()">Refresh</button>
    <button wh-button lg ol ng-click="dashboardVM.borrowProperty()" ng-disabled="!dashboardVM.selectedProp">Borrowing</button>
    <div class="lds-ripple" ng-show="dashboardVM.gettingProperties"><div></div><div></div></div>
  </div>
  <!-- <hr> -->
  <div class="pd-content">
    <div id="propertyList" 
         ui-grid="dashboardVM.uiGridOptions" 
         ui-grid-selection 
         ui-grid-auto-resize 
         ui-grid-resize-columns>
    </div>
  </div>
  <wh-modal ng-if="dashboardVM.callTheWaiter" on-close="dashboardVM.onCancel()">
    <wh-manager 
      mode="dashboardVM.waiterMode" 
      property="dashboardVM.selectedProp" 
      on-cancel="dashboardVM.onCancel()" 
      on-done="dashboardVM.onDone()">
    </wh-manager>
  </wh-modal>
  <wh-modal ng-if="dashboardVM.openBorrowingPanel" on-close="dashboardVM.closeBorrowingPanel()">
    <wh-borrowing
      property="dashboardVM.selectedProp"
      on-cancel="dashboardVM.closeBorrowingPanel()"
      on-done="dashboardVM.borrowingDone()">
    </wh-borrowing>
  </wh-modal>
</div>