.dashboard {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  height: 100%;
}

.pd-toolbar {

}

.pd-content {
  flex-grow: 10;
  position: relative;
}

.ui-grid {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}