<div id="propertyDashboard" class="dashboard">
  <div id="propertyToolbar" class="pd-toolbar">
    <button ng-click="$ctrl.createProperty()">Create</button>
    <button ng-click="$ctrl.editProperty()" ng-disabled="!$ctrl.selectedProp">Edit</button>
    <button ng-click="$ctrl.deleteProperty()" ng-disabled="!$ctrl.selectedProp">Delete</button>
    <button ng-click="$ctrl.getProperties()">Refresh</button>
  </div>
  <!-- <property-waiter property="$ctrl.selectedProp"></property-waiter> -->
  <!-- <property-builder ng-show="$ctrl.isBuilderDisplay" on-close="$ctrl.closeCreatingPanel()"></property-builder> -->
  <hr>
  <div class="pd-content">
    <div id="propertyList" ui-grid="$ctrl.uiGridOptions" ui-grid-selection ui-grid-auto-resize></div>
  </div>
</div>