<div id="propertyDashboard" class="dashboard">
  <div id="propertyToolbar" class="pd-toolbar">
    <button ng-click="$ctrl.createProperty()">Create</button>
    <button ng-click="$ctrl.editProperty()" ng-disabled="!$ctrl.selectedProp">Edit</button>
    <button ng-click="$ctrl.deleteProperty()" ng-disabled="!$ctrl.selectedProp">Delete</button>
    <button ng-click="$ctrl.getProperties()">Refresh</button>
  </div>
  <hr>
  <div class="pd-content">
    <div id="propertyList" ui-grid="$ctrl.uiGridOptions" ui-grid-selection ui-grid-auto-resize></div>
  </div>
  <property-waiter property="$ctrl.selectedProp" is-leaving="$ctrl.okThankYou()" ng-show="$ctrl.callTheWaiter"></property-waiter>
</div>

