<div class="modal-overlay" ng-click="close()"></div>
<div class="modal">
  <div class="modal-panel">
    <div class="modal-content">
      <form novalidate id="propertyWaiter" class="propertyWaiter">
        <fieldset>
          <legend>Property</legend>
          <div class="mono-cols">
              <label for="number">Number:</label>
              <input id="number" type="text" name="number" ng-model="$ctrl.property.number" ng-disabled="$ctrl.property.number">
              
              <label for="makeAndModel">Make and Model:</label>
              <input id="makeAndModel" name="makeAndModel" type="text" ng-model="$ctrl.property.makeAndModel">
              
              <label for="cost">Cost:</label>
              <input id="cost" type="number" name="cost" min="0" ng-model="$ctrl.property.cost">
              
              <label for="presentValue">Present Value:</label>
              <input id="presentValue" type="number" name="presentValue" min="0" ng-model="$ctrl.property.presentValue">
              
              <label for="purchaseDate">Purchase Date:</label>
              <input id="purchaseDate" type="date" name="purchaseDate" ng-model="$ctrl.property.purchaseDate" date-transformer>
              
              <label for="ageLimit">Age Limit:</label>
              <input id="ageLimit" type="number" name="ageLimit" min="0" max="99" ng-model="$ctrl.property.ageLimit">
              
              <label for="custodian">Custodian:</label>
              <input id="custodian" type="text" name="custodian" ng-model="$ctrl.property.custodian">
              
              <label for="user">User:</label>
              <input id="user" type="text" name="user" ng-model="$ctrl.property.user">
              
              <label for="location">Location:</label>
              <input id="location" type="text" name="location" ng-model="$ctrl.property.location">
              
              <label for="placement">Placement:</label>
              <input id="placement" type="text" name="placement" ng-model="$ctrl.property.placement">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>