.side-nav {
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 160px;
  top: 0;
  left: 0;
  /* left: 250px; */
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  background-color: #111;
}

.container {
  width: 100%;
  position: fixed;
  padding: 15px;
  left: 160px;
}